

body {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
    color: #323232;
}

/* Mobile menu */

.mobile-navigation__burger-link {
    display: none;
    position: fixed;
    top: 3%;
    right: 3%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 0 0 #EBD25D;
    background: #ffe671;
    border: none;
    z-index: 100;
    transition: .3s;
}

.mobile-navigation__burger-link span,
.mobile-navigation__burger-link span:before,
.mobile-navigation__burger-link span:after {
    display: block;
    height: 2px;
    background-color: #323232;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .3s;
}

.mobile-navigation__burger-link span {
    width: 20px;
    margin-left: -9px;
    margin-top: 0;
}

.mobile-navigation__burger-link span:before {
    content: '';
    width: 17px;
    margin-left: -7px;
    margin-top: -6px;
}

.mobile-navigation__burger-link span:after {
    content: '';
    width: 14px;
    margin-left: -4px;
    margin-top: 4px;
}

.mobile-navigation__burger-link_active span:before, 
.mobile-navigation__burger-link_active span:after {
    width: 20px;
    margin-left: -10px;
}

.mobile-navigation__burger-link:active {
    box-shadow: 0 0 0 0 #EBD25D;
    transform: translate(0, 3px);
}

.mobile-navigation__burger-link:active, 
.mobile-navigation__burger-link:focus {
    outline: none;
}

.mobile-navigation__nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: .5s;
    z-index: 99;
    left: 100%;
}

.nav_active {
    left: 0;
}

.mobile-navigation__nav__menu {
    list-style: none;
    text-align: center;
}

.mobile-navigation__nav__menu-item {
    margin: 10px auto;
}

.mobile-navigation__nav__menu-link {
    color: #323232;
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 1;
    transition: .3s;
}

.mobile-navigation__nav__menu-link:hover {
    text-decoration: none;
    color: #EBD25D;
}

/* Header */

header {
    height: 711px;
    background: #F0FAFF;
    background-image: url(../img/cour.png);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    padding-top: 30px;
    z-index: 99;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.nav-link {
    color: #323232;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    transition: .3s;
}

.nav-link:hover {
    color: #FFE671;
}

.hero-title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 49px;
    font-family: Montserrat Alternates;
    font-weight: bold;
    color: #323232;
}

.hero-desc {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #323232;
}

.hero-place {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #323232;
    opacity: 0.6;
    position: relative;
    top: 40%;
    transform: translate(0,-50%);
}

.place-icon {
    width: 70px;
    height: 70px;
    background: #FFF;
    box-shadow: 0px 12px 32px rgba(19, 30, 71, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hero-button {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 250px;
    height: 70px;
    background: #FFE671;
    border-radius: 99px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0 3px 0 0 #EBD25D;
    transition: .3s;
}

.hero-button__text {
    color: #323232;
    padding-right: 15px;
}

.hero-button:hover {
    text-decoration: none;
}

.hero-button:active {
    box-shadow: 0 0 0 0 #EBD25D;
    transform: translate(0, 3px);
}


.number-block {
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 12px 32px rgba(19, 30, 71, 0.15);
    margin-top: -65px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.numbersColumn {
    text-align: center;
}

.numbers__count {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFE671;
    margin-top: 52px;

}

.numbers__count-name {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFE671;
    margin-top: -16px;

}

.numbers__count-descr {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #323232;
    margin: 15px 0 30px 0;
    max-width: 130px;
}

/* Market card */

.marketplace {
    margin-top: 149px;
}

.heading {
    display: block;
    margin: 0 auto;
    font-family: Montserrat Alternates;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #323232;
}

.market-card {
    margin-top: 59px;
}

.market-card__img {
    width: 100%;
}

.market-card p {
    margin: 0;
}

.market-card__text {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.market-card__link {
    font-family: Rubik;
    font-weight: bold;
    font-size: 20px;
    color: #323232;
    transition: .3s;
}

.market-card__link:hover {
    text-decoration: none;
    color: #FFE671;
}

.market-card__price {
    font-family: Rubik;
    font-weight: normal;
    font-size: 15px;
    color: #323232;
    
}

.market-card__rated {
    text-align: right;
}

.market-card__rated__value {
    display: inline;
    padding: 0 10px;
    line-height: 30px;
    background: #FFE671;
    border-radius: 9px;
    font-family: Rubik;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.market-card__review {
    font-family: Rubik;
    font-weight: normal;
    font-size: 15px;
    color: #323232;
    opacity: 0.5;
}

.market-card__view-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 186px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 20px;
    color: #FFE671;
}

.market-card__view-all__img {
    margin-left: 10px;
}

.market-card__view-all:hover {
    text-decoration: none;
    color: #FFE671
}

/* Row phone */

.mobile {
    background: #F0FAFF;
    height: 431px;
}

.iphone {
    margin-top: -54px;
}

.heading-mobile {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 20px;
}

.mobile__description {
    font-family: Rubik;
    font-weight: normal;
    font-size: 22px;
    color: #323232;
}

.mobile__get-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

#phone-number {
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 99px;
    font-family: Rubik;
    font-size: 16px;
    color: #323232;
    opacity: 0.3;
    text-align: center;
    width: 294px;
    height: 73px;
}

.mobile .hero-button {
    margin: 0;
    border: none;
    width: 295px;
}

.mobile .hero-button:focus, #phone-number:focus {
    outline: none;
}

/* Slider */

.rewiew__header {
    margin-top: 110px;
    margin-bottom: 40px;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    outline: none;
    margin-bottom: 130px;
}

.slide__content {
    width: 700px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 70px 90px;
    margin: 0 auto;
}

.prev, .next {
    z-index: 0;
    position: absolute;
    background: #F0FAFF;
    padding: 8px;
    border-radius: 50%;
}

.prev {
    transform: rotate(-180deg) translate(0, 50%);
    top: 50%;
}

.next {
    bottom: 50%;
    left: 100%;
    transform: translate(-200%, 50%);
}

.slide__content__heading {
    font-family: Rubik;
    font-weight: bold;
    font-size: 24px;
    color: #323232;
    margin: 0;
}

.slide__content__rewiev {
    padding-top: 20px;
    font-family: Rubik;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;   
    color: #323232;
}

.slide__content__account {
    display: flex;
    align-items: center;
}

.slide__content__account-inform {
    padding: 0 20px;
}

.nickname {
    margin: 0;
    font-family: Rubik;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
}

.socialnetwork {
    font-family: Rubik;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #323232;
    opacity: 0.5;
}

.socialnetwork:hover {
    color: #323232;
}

/* footer */

footer {
    padding: 60px 0;
    border: 1px solid #D2DCE1;
}

.footer__part {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__part-link {
    font-family: Rubik;
    font-weight: normal;
    font-size: 16px;
    color: #CACFD2;
}

.footer__part-link:hover {
    color: #CACFD2;
}

/* Adaptive */

@media (max-width: 1200px) {
    header {
        background-position: 140% 50%;
    }
    .nav-menu {
        display: none;
    }
    .hero-title {
        font-size: 40px;
        margin-top: 120px;
    }
    .hero-desc {
        font-size: 22px;
    }

    .marketplace {
        margin-top: 12vw;
    }

    .heading {
        font-size: 3vw;
    }

    .market-card {
        margin-top: 5vw;
    }

    .mobile-navigation__burger-link {
        display: block;
    }

    #phone-number, .mobile .hero-button {
        width: 250px;
    }

    .slide__content {
        width: 600px;
        height: 330px;
        padding: 40px 70px;
    }

}

@media (max-width: 992px) {
    header {
        background: linear-gradient(120deg, #f0faff 65%,  #ffe671 35%);
    }
    .hero-title {
        font-size: 35px;
    }

    .hero-desc {
        font-size: 20px;
    }

    .place-icon {
        margin-top: -8px;
    }

    .market-card__view-all {
        margin-bottom: 100px;
    }

    .mobile__iphone-block {
        display: none;
    }

    .mobile__get-link {
        width: 75%;
    }

    .rewiew__header {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .slide__content {
        width: 530px;
        height: 270px;
        padding: 20px 30px;
    }

}

@media (max-width: 768px) {
    header {
        height: 600px;
    }
    .hero-title {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .hero-desc {
        font-size: 20px;
    }
    
    .hero-place {
        font-size: 14px;
        top: 50%;
    }

    .hero-button {
        margin-top: 60px;
        width: 220px;
        height: 60px;
        font-size: 18px;
    }

    .numbers {
        margin-top: 65px;
    }

    .heading-mobile {
        font-size: 5vw;
    }

    .mobile__description {
        font-size: 3vw;
    }

    .mobile__get-link {
        width: 100%;
    }

    .slide__content__heading {
        font-size: 20px;
    }

    .slide__content__rewiev {
        font-size: 13px;
    }

    .nickname {
        font-size: 14px;
    }

    .socialnetwork {
        font-size: 13px;
    }

    .slide__content {
        width: 370px;
        height: 300px;
        padding: 30px 30px;
    }

}

@media (max-width: 576px) {
    header {
        height: 100vw;
    }

    .logo {
        width: 40%;
    }

    .hero-title {
        font-size: 6vw;
        margin-top: 10vw;
        margin-bottom: 8vw;
    }

    .hero-desc {
        font-size: 3.3vw;
    }
    
    .hero-place {
        display: none;
    }

    .place-icon {
        width: 12vw;
        height: 12vw;
    }

    .place-icon img {
        width: 5vw;
    }

    .hero-button {
        margin-top: 6vw;
        width: 50vw;
        height: 13vw;
        font-size: 4vw;
    }

    .hero-button img {
        width: 3vw;
    }

    .numbers__count {
        font-size: 10vw;
        line-height: 10vw;
    }

    .numbers__count-name {
        font-size: 3vw;
        line-height: 3vw;
    }

    .numbers__count-descr {
        font-size: 3.2vw;
        line-height: 3.2vw;
    }

    .heading {
        font-size: 4vw;
    }

    .market-card__view-all {
        margin-top: 12vw;
        font-size: 4vw;
    }

    .mobile__iphone-block {
        height: 370px;
    }

    .heading-mobile {
        margin-top: 30px;
    }

    .mobile__get-link {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;
        height: 160px;
    }

    #phone-number {
        width: 50vw;
        height: 13vw;
        font-size: 4vw;
    }

    .mobile .hero-button {
        width: 50vw;
    }
}

@media (max-width: 500px) {
    .prev, .next {
        opacity: 0;
        z-index: 0;
    }
    
    .slide__content {
        width: 100%;
        min-height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 30px;
    }

    .slide__content__heading {
        font-size: 16px;
    }

    .slide__content__rewiev {
        font-size: 12px;
    }

    .slide__content__account-inform {
        padding: 0 5px;
    }

    .nickname {
        font-size: 12px;
    }

    .socialnetwork {
        font-size: 12px;
    }

    .avatar {
        max-width: 45px;
    }
}

@media (max-width: 460px) {
    .mobile {
        height: 330px;
    }

    .mobile__get-link {
        height: 130px;
    }
}

@media (max-width: 460px) {
    .slide__content {
        padding: 30px 30px;
}

@media (max-width: 350px) {
    header {
        width: 110vw;
    }

    .market-card__title {
        font-size: 5vw;
    }

    .market-card__price, .market-card__rated__value, .market-card__review {
        font-size: 4vw;
        line-height: 4vw;
    }

    .mobile {
        height: 250px;
    }

    .mobile__get-link {
        height: 100px;
    }

    .mobile__description {
        margin-top: 10px;
    }

    .rewiew__header {
        font-size: 5vw;
    }

    .slide__content {
        width: 100%;
        min-height: 210px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 30px;
    }

    .slide__content__heading {
        font-size: 3.5vw;
    }

    .slide__content__rewiev {
        font-size: 2.6vw;
        line-height: 20px;
    }

    .slide__content__account-inform {
        padding: 0 5px;
    }

    .nickname {
        font-size: 2.4vw;
    }

    .socialnetwork {
        font-size: 2.4vw;
    }

    .avatar {
        max-width: 12vw;;
    }
}